::selection {
    background: orange;
    color: #FFF;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Consolas';
    font-size: 16px;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.timing-editor-wrapper {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: fixed;
    top: 70px;
    left: 5%;
    right: 5%;
    bottom: 90px;
    padding: 10px;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s;
}
.timing-editor-wrapper.show {
    opacity: 1;
}
input[type=text],
input[type=number],
button {
    font-family: 'Consolas';
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    padding: 5px 10px;
    min-width: 50px;
    height: 30px;
    vertical-align: top;
    border-radius: 0.2em;
}
button:active {
    color: #222;
    background: #FFF;
}
fieldset {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
}
input[type=text],
input[type=number] {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    user-select: initial;
    color: #FFF;
    background: transparent;
    border: 1px solid #FFF;
}
input:focus,
button:focus {
    border-color: orange !important;
}
input[type=text],
input[type=number] {
    text-align: center;
}
label {
    margin-bottom: 5px;
    display: block;
}
button {
    color: #FFF;
    border: 1px solid #FFF;
    background: transparent;
    cursor: pointer;
}
input[type=checkbox] {
    -webkit-appearance: none;
    outline: none;
    margin: 7px 0;
}
input[type=checkbox]:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #EC407A;
    background: transparent;
}
input[type=checkbox]:checked:after {
    background: #EC407A;
}
#timing-points {
    max-width: 100%;
}
span {
    line-height: 30px;
}
#timing-point-add,
#timing-point-remove {
    min-width: 0;
    padding: 0 5px;
}
#timing-point-add {
    color: #4caf50;
    border-color: #4caf50;
}
#timing-point-add:active {
    background: #4caf50;
    color: #FFF;
}
#timing-point-remove {
    height: 20px;
    line-height: 1;
    border: none;
    color: #f44336;
}
#timing-point-remove:active {
    background: #f44336;
    color: #FFF;
}
p {
    margin: 8px 0;
}
p,
span,
legend,
table {
    cursor: default;
}
label,
label > * {
    cursor: pointer;
}
table {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
tbody tr:hover {
    background: rgba(255, 255, 255, 0.1);
}
th, td {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
th:last-child, td:last-child {
    border-right: none;
}
th {
    text-align: left;
    background: rgba(255, 255, 255, 0.1);
}
td {
    background: rgba(255, 255, 255, 0.05);
}
